*{
    margin: 0;
    padding: 0;
}

/* Navigation Section */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 50;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}

.nav-container img{
    width: 100px;
    height: 40px;
}

.nav-container svg{
    width: 40px;
    height: 20px;
}

.login-text{
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
    height: auto;
}

.login-box{
    border: 2px solid white;
    padding: 0.5rem 0.25rem;
    box-sizing: border-box;
    box-shadow: 0px 6px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

/* Character Section */
.character-section{
    height: 100vh;
    background-image: url('../images/character-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4.5rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.character-box{
    width: 75%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 80vh;
    margin-left: 1rem;
}

.char-atr{
    margin-bottom: 0.5rem;
    z-index: 4;
    width: 75%;
}

.character-box p{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0.5rem;
    z-index: 3;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.character-card-box{
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 2;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
}

.char-item{
    height: 80vh;
    position: absolute;
    right: 0;
    z-index: 1;
}

.card-box{
    height: 75%;
    width: 10%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
}

.card-box img{
    width: 100%;
}

.card-text{
    background-color: black;
    color: white;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 0.3rem 0;
}

.card-text:hover{
    color: #D47616 !important;
}

/* Footer Section */
.footer-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.vertical-line{
    width: 1px;
    height: 30px;
    background-color: white;
    margin: 0 0.5rem;
}

.footer-left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left img{
    width: 70px;
    height: 25px;
}

.footer-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media-box{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media-box a{
    margin: 0;
}

.social-media-box a img{
    width: 25px;
    height: 25px;
}

.social-media-icons{
    margin: 0.5rem 0.5rem;
}

.footer-content{
    display: flex;
    align-items: center;
}

.footer-content-box{
    display: flex;
    margin: 0.5rem 0;
    justify-content: center;
}

.footer-content-box a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    text-decoration: none;
    color: #c4c4c4;
}

.footer-content-box a:hover{
    color: #D47616;
}

.footer-content-box p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #c4c4c4;
    margin: 0rem 0.2rem;
}

.copyright{
    text-align: center;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    margin: 0rem 0.2rem;
}

/* Tablet Size */
@media only screen and (min-width: 600px) {
    .nav-container{
        margin: 0.5rem 2rem;
    }

    .footer-section{
        flex-direction: row;
    }

    .footer-left{
        width: 50%;
        justify-content: flex-end;
        margin-right: 1rem;
    }

    .footer-left img{
        width: 140px;
        height: 50px;
    }

    .footer-right{
        width: 50%;
    }

    .social-media-box a img{
        width: 37.5px;
        height: 37.5px;
        margin: 0.25rem;
    }

    .social-media-box{
        justify-content: flex-start;
    }

    .footer-content-box, .copyright{
        justify-content: flex-start;
        text-align: start;
    }
}

/* Desktop Size */
@media only screen and (min-width: 1024px) {
    .nav-container{
        margin: 0.5rem 4rem;
    }

    .vertical-line{
        display: flex;
        width: 2px;
        height: 50%;
    }

    .social-media-box a{
        width: 50px;
        height: 50px;
    }
}