*{
    margin: 0;
    padding: 0;
}

/* Navigation Section */
.temp{
    height: 84px;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 50;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}

.nav-container img{
    width: 100px;
    height: 40px;
}

.nav-container svg{
    width: 40px;
    height: 20px;
}

/* Dropdown Section */
.nav-dropdown svg{
    margin-right: 4.6rem;
}

.nav-dropdown:hover svg rect{
    fill: #D47616;
}

.dropdown-content{
    display: none;
    position: fixed;
    background-color: black;
    min-width: 25rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 40;
    color: white;
    flex-direction: column;
    left: 0;
    padding-top: 1.9rem;
}

.nav-dropdown:hover .dropdown-content{
    display: flex;
}

.dropdown-content a:hover{
    color: #D47616;
}

.dropdown-content a{
    color: white;
    width: 100%;
    margin: auto;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 1rem 0;
}

.login-text{
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
    height: auto;
}

.login-box{
    border: 2px solid white;
    padding: 0.5rem 0.25rem;
    box-sizing: border-box;
    box-shadow: 0px 6px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

/* Hero Section */
.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section img{
    width: 75%;
}


/* Character Section */
.char-section{
    height: 100vh;
    background-image: url('../images/mondstat-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.char-container{
    display: flex;
    flex-direction: column;
    padding: 10rem 4rem;
    z-index: 1;
}

.title-heading{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

.title-heading h1{
    margin: 0 0.5rem;
    color: white;
    text-decoration: underline;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.title-heading img{
    width: 20%;
}

.char-content{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}

.char-content .char-desc{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.char-content img{
    width: 45%;
    margin: 2rem 0;
}

.char-content .char-desc p{
    width: 100%;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: regular;
    font-size: 1.2rem;
}

.char-content .char-desc a{
    text-decoration: none;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: regular;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-self: flex-end;
    margin-top: 1.5rem;
    z-index: 2;
}

.char-content .char-desc a:hover{
    color: #D47616;
}

#albedo-char{
    display: block;
    position: absolute;
    height: 80vh;
    right: 0;
    margin-top: 20vh;
    z-index: 0;
}

/* Version Section */
.version-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../images/version-information.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
}

.version-container{
    display: flex;
    flex-direction: column;
}

.version-content{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.version-content a{
    width: 25%;
}

.version-content a img{
    width: 100%;
}

/* Event Section */
.event-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../images/game-event-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
}

/* Feature Section */
.feature-section{
    position: relative;
    height: 100vh;
    /* Karena pakai carousel posnya relative */
    display: flex;
    flex-direction: column;
    background-image: url('../images/game-feature-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
}

/* Carousel Section */
.carousel-item{
    width: 40%;
    position: absolute;
    top: 25%;
    display: none;
    transition-property: all;
    transition-duration: .5s;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.carousel-left{
    display: block;
    left: 5%;
}

.carousel-mid{
    display: block;
    left: 50%;
    transform: translate(-50%) scale(125%);
    /* Bakal pindah ketengah */
    z-index: 25;
}

.carousel-right{
    display: block;
    right: 5%;
}


/* Footer Section */
.footer-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.vertical-line{
    width: 1px;
    height: 30px;
    background-color: white;
    margin: 0 0.5rem;
}

.footer-left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left img{
    width: 70px;
    height: 25px;
}

.footer-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media-box{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media-box a{
    margin: 0;
}

.social-media-box a img{
    width: 25px;
    height: 25px;
}

.social-media-icons{
    margin: 0.5rem 0.5rem;
}

.footer-content{
    display: flex;
    align-items: center;
}

.footer-content-box{
    display: flex;
    margin: 0.5rem 0;
    justify-content: center;
}

.footer-content-box a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    text-decoration: none;
    color: #c4c4c4;
}

.footer-content-box a:hover{
    color: #D47616;
}

.footer-content-box p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #c4c4c4;
    margin: 0rem 0.2rem;
}

.copyright{
    text-align: center;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    margin: 0rem 0.2rem;
}

.card-1{
    background-image: url('../images/card-1.png');
}

@media only screen and (max-width: 600px){
    
    .nav-container{
        margin: 0.5rem 2rem;
    }

    .hero-section{
        width: 100%;
    }

    .title-heading h1{
        font-size: 1.5rem;
    }

    .title-heading img{
        width: 20%;
    }
    
    .char-content{
        margin: 0px 0px 0px 5px;
        align-items: center;
    }
    .char-content p{
        flex-direction: column;
    }

    .char-content a p{
        font-size: 1rem;
    }

    .char-container{
        padding: 80px 32px;
    }

    .char-content img{
        margin: 10px 55px 10px 0px;
        width: 50%;
    }

    #albedo-char{
        display: none;
    }

    .version-content{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

/* Mobile Size */
@media only screen and (min-width: 600px){
    .nav-container{
        margin: 0.5rem 2rem;
    }

    .title-heading h1{
        font-size: 2rem;
    }

    .version-section a{
        flex-direction: column;
    }

    .char-desc{
        padding: 0 1rem;
    }

    .char-content{
        margin: 0px 0px 0px 10px;
        align-items: flex-start;
    }

    .char-content a p{
        font-size: 1rem;
    }

    .char-container{
        padding: 80px 32px;
    }

    .char-container img{
        margin: 10px;
        width: 50%;
    }

    #albedo-char{
        width: 40%;
        margin: 100px 0px 0px 0px;

    }

    .footer-section{
        flex-direction: row;
    }

    .footer-left{
        width: 50%;
        justify-content: flex-end;
        margin-right: 1rem;
    }

    .footer-left img{
        width: 140px;
        height: 50px;
    }

    .footer-right{
        width: 50%;
    }

    .social-media-box a img{
        width: 37.5px;
        height: 37.5px;
        margin: 0.25rem;
    }

    .social-media-box{
        justify-content: flex-start;
    }

    .footer-content-box, .copyright{
        justify-content: flex-start;
        text-align: start;
    }
}

/* Desktop Size */
@media only screen and (min-width: 1024px){
    .nav-container{
        margin: 0.5rem 4rem;
    }

    .hero-section{
        
    }

    .char-content p{
        font-size: 1.5rem;
    }

    .vertical-line{
        display: flex;
        width: 2px;
        height: 50%;
    }

    .social-media-box a{
        width: 50px;
        height: 50px;
    }
}