*{
    margin: 0;
    padding: 0;
}

/* Navigation Section */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 50;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}

.nav-container img{
    width: 100px;
    height: 40px;
}

.nav-container svg{
    width: 40px;
    height: 20px;
}


/* Dropdown Section */

.nav-dropdown:hover svg rect{
    fill: #D47616;
}

.dropdown-content{
    display: none;
    position: fixed;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 40;
    color: white;
    flex-direction: column;
    left: 0;
    padding-top: 1.9rem;
}

.nav-dropdown:hover .dropdown-content{
    display: flex;
}

.dropdown-content a:hover{
    color: #D47616;
}

.dropdown-content a{
    color: white;
    width: 100%;
    margin: auto;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 1rem 0;
}

.login-text{
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
    height: auto;
}

.login-box{
    border: 2px solid white;
    padding: 0.5rem 0.25rem;
    box-sizing: border-box;
    box-shadow: 0px 6px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

/* Character Section */
.character-section{
    height: 100vh;
    background-image: url('../images/character-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.character-box{
    /* height: 75vh; */
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-box-inside{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3.8rem 1rem;
}

.character-box p{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0.5rem;
    z-index: 3;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.character-box img{
    width: 75%;
    margin-bottom: 1rem;
}

.char-item-box{
    position: relative;
}

.char-item{
    display: none;
    height: 75vh;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.char-item.active{
    display: none;
}

.character-card-box{
    /* height: 25vh; */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin:1rem 0;
}

.card:hover p{
    color: #D47616;
}

.card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card p{
    color: white;
    background-color: black;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

/* Footer Section */
.footer-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.vertical-line{
    width: 1px;
    height: 30px;
    background-color: white;
    margin: 0 0.5rem;
}

.footer-left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left img{
    width: 70px;
    height: 25px;
}

.footer-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media-box{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media-box a{
    margin: 0;
}

.social-media-box a img{
    width: 25px;
    height: 25px;
}

.social-media-icons{
    margin: 0.5rem 0.5rem;
}

.footer-content{
    display: flex;
    align-items: center;
}

.footer-content-box{
    display: flex;
    margin: 0.5rem 0;
    justify-content: center;
}

.footer-content-box a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    text-decoration: none;
    color: #c4c4c4;
}

.footer-content-box a:hover{
    color: #D47616;
}

.footer-content-box p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #c4c4c4;
    margin: 0rem 0.2rem;
}

.copyright{
    text-align: center;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    margin: 0rem 0.2rem;
}

.active{
    display: flex;
}

/* Tablet Size */
@media only screen and (min-width: 600px) {
    .nav-container{
        margin: 0.5rem 2rem;
    }

    .character-box{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .character-box-inside{
        width: 75%;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3.8rem 0 0 2rem;
    }

    .card{
        width: 75px;
    }
    
    .char-item.active{
        display: block;
    }

    .footer-section{
        flex-direction: row;
    }

    .footer-left{
        width: 50%;
        justify-content: flex-end;
        margin-right: 1rem;
    }

    .footer-left img{
        width: 140px;
        height: 50px;
    }

    .footer-right{
        width: 50%;
    }

    .social-media-box a img{
        width: 37.5px;
        height: 37.5px;
        margin: 0.25rem;
    }

    .social-media-box{
        justify-content: flex-start;
    }

    .footer-content-box, .copyright{
        justify-content: flex-start;
        text-align: start;
    }
}

/* Desktop Size */
@media only screen and (min-width: 1024px) {
    .nav-container{
        margin: 0.5rem 4rem;
    }

    .character-box-inside{
        width: 65%;
    }

    .character-box-inside  p{
        font-size: 1.25rem;
    }

    .card{
        width: 100px;
    }

    .vertical-line{
        display: flex;
        width: 2px;
        height: 50%;
    }

    .social-media-box a{
        width: 50px;
        height: 50px;
    }

}